token=YOUR_DISCORD_BOT_TOKEN
appid=YOUR_DISCORD_APPLICATION_ID
developers=YOUR_DISCORD_UID
STEAM_API_KEY=YOUR_STEAM_API_KEY
TWITCH_CLIENT_ID=YOUR_TWITCH_CLIENT_ID
TWITCH_CLIENT_SECRET=YOUR_TWITCH_CLIENT_SECRET
